@import url('https://fonts.googleapis.com/css?family=Material+Icons|Kaushan+Script|Nosifer|Roboto|Ubuntu|Parisienne|Rochester|Playfair+Display');

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Roboto", "Ubuntu", "Arial", "Verdana";
  font-size: 12pt;
  height:100%;
}

footer {
  background-color: #fbfbfb;
}

a {
  color: #3d3d3d;
}

a:hover, a:active, a:focus {
  color: #1c1b1b;
}

h1.brand-text {
  margin: 15px 0px 15px 0px;
  text-align: center;
  margin: 0px 5px 5px 5px;
  font-size: 22pt;
  font-family: 'Kaushan Script', cursive;
}

h4.brand-description {
  margin: 15px 0px 15px 0px;
  text-align: center;
  margin: 5px;
  font-size: 18pt;
  font-family: 'Kaushan Script', cursive;
}

hr.dashed {
  border: 2px dashed #2c3e50;
}

#list-navbar {
  list-style-type: none;
  padding: 5px;
}

#list-navbar > li {
  margin: 20px 0px 20px 0px;
  font-size: 13pt;
  color: #626565;
  border-bottom: 3px solid transparent;
}

#list-navbar > li > a {
  text-decoration: none;
}

#list-navbar > li.active > a {
  text-decoration: none;
  border-bottom: 3px solid #000000;
  font-weight: bold;
}

#list-navbar > li.active {
  color: #000000;
}

#list-navbar > li > a:hover,
#list-navbar > li > a:active,
#list-navbar > li > a:focus{
  border-bottom: 3px solid #3d3d3d;
}


#select-navbar {
  display: none;
}

@media (max-width: 736px) {
  #list-navbar {
    display: none;
  }

  #select-navbar {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    display: block;
    color: #fbfbfb;
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
  }

  #select-navbar > option {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 992px) {
  #list-navbar > li {
    display: inline-block;
    margin-right: 30px;
    margin: 10px 20px 10px 0px;
  }
}

.list-group > a.active,
.list-group > a.active:hover,
.list-group > a.active:focus,
.list-group > a.active:active {
  background-color: #2c3e50;
  color: #ffffff;
  border-color: #2c3e50;
}

.list-group > a.active > p {
  color: #ffffff;
}

.list-group > div > a.active,
.list-group > div > a.active:hover,
.list-group > div > a.active:focus,
.list-group > div > a.active:active {
  background-color: #2c3e50;
  color: #ffffff;
  border-color: #2c3e50;
}

.pagination > li > a {
  color: #2c3e50;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  color: #2c3e50;
}

.li-unstyled {
  list-style: none;
  padding-left: 0px;
}

quote.nosifer {
  font-size: 22pt;
  font-family: 'Nosifer', 'Arial', cursive;
}

quote.msmincho {
  font-size: 40pt;
  font-family: 'MS Mincho', 'Arial', sans-serif;
  font-weight: bold;
}

quote.parisienne {
  font-size: 22pt;
  font-family: 'Parisienne', 'Arial', cursive;
}

quote.rochester {
  font-size: 18pt;
  font-family: 'Rochester', 'Arial', cursive;
}

quote.rochester > small {
  font-weight: bolder;
}

quote.playfair {
  font-size: 14pt;
  font-family: 'Playfair Display', 'Arial', cursive;
}

quote.playfair > small {
  font-weight: bolder;
}

div.menu {
  background-color: #fbfbfb;
  box-shadow: 5px 0px 5px #e2dfdf;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

div.menu > img:hover {
  cursor: pointer;
}

h2.menu-title {
  font-size: 16pt;
}

hr.content {
  border: 1px solid #302c30;
  margin-top: 4px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hov-unblur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0.7;
}

.hov-unblur:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 1;
}

.obj-center { /* recently unused */
  margin: auto;
  width: 50%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mrg-t-0 {
  margin-top: 0px;
}

.mrg-t-20 {
  margin-top: 20px;
}

.mrg-b-0 {
  margin-bottom: 0px;
}

.mrg-b-10 {
  margin-bottom: 10px;
}

.mrg-b-20 {
  margin-bottom: 20px;
}

.mrg-b-30 {
  margin-bottom: 30px;
}

.mrg-tb-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mrg-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mrg-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mrg-lr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.padd-lr-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.padd-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.padd-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.padd-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padd-b-20 {
  padding-bottom: 20px;
}

.padd-b-30 {
  padding-bottom: 30px;
}

.padd-tb-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.padd-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padd-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padd-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padd-tb-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.radius-5 {
  border-radius: 5px;
}

.font-size-18 {
  font-size: 18px;
}

#navbar {
  background-color: #fbfbfb;
  padding-top:50px;
}

#content {
  background-color: #f6f6f6;
  padding-top:50px;
}

#footer-quote {
  background-color: #34495e;
  color: #fbfbfb;
  padding: 50px 10px 50px 10px;
}

#footer-copyright {
  background-color: #34495e;
  color: #fbfbfb;
  padding: 40px 0px 40px 0px;
  bottom:0px;
}

#form-login {
  box-shadow: 5px 5px 5px #8c8c8c;
  background-color: #ffffff;
  padding: 25px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-section > input[type=text],
.form-section > input[type=email],
.form-section > input[type=password] {
  width: 100%;
  color:  #34495e;
  background-color: #f6f6f6;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0px;
}

.form-section > input[type=text]:focus,
.form-section > input[type=email]:focus,
.form-section > input[type=password]:focus {
  border: 3px solid #34495e;
  outline: none;
}

.input-lengko-default {
  color:  #34495e;
  background-color: #f6f6f6;
  padding: 10px;
  width: 80px;
  margin-bottom: 5px;
  border: 0px;
  border-radius: 0px 10px 0px 0px;
}

.input-lengko-default:focus{
  border: 2px solid #34495e;
  padding:8px;
  outline: none;
}

.input-lengko-default:disabled{
  color: #f6f6f6;
  background-color: #1b232a;
}

.textarea-lengko-default {
  color:  #34495e;
  background-color: #f6f6f6;
  padding: 10px;
  margin-bottom: 5px;
  border: 0px;
  border-radius: 0px 10px 0px 0px;
}

.textarea-lengko-default:focus{
  border: 2px solid #34495e;
  padding: 8px;
  outline: none;
}


.select-lengko-default {
  padding: 10px;
  height: 45px;
  border: 0px;
  color:  #34495e;
  background-color: #f6f6f6;
  border-radius: 0px 10px 0px 0px;
}

.select-lengko-default:focus,
.select-lengko-default:active {
  outline: none;
  border: 2px solid #34495e;
  padding: 8px;
}

.select-lengko-default > option {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.radio-lengko-default {
  padding: 5px;
  margin: 10px 0px 10px 0px;
  border: 0px;
  border-radius: 0px 10px 0px 0px;
}

.radio-lengko-default > [type="radio"]:checked,
.radio-lengko-default > [type="radio"]:not(:checked) {
  /* align original radio button to the left */
  position: absolute;
  left: -9999px;
}
.radio-lengko-default > [type="radio"]:checked + label,
.radio-lengko-default > [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #34495e;
}

.radio-lengko-default > [type="radio"]:checked + label:before,
.radio-lengko-default > [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #34495e;
  border-radius: 100%;
  background: #f6f6f6;
}

.radio-lengko-default > [type="radio"]:checked + label:after,
.radio-lengko-default > [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #34495e;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  /* animasi */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio-lengko-default > [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  /* animasi */
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio-lengko-default > [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btn-lengko {
  margin: 4px;
  padding: 10px;
  border: 0px;
  border-radius: 3px;
}

.btn-lengko:hover {
  border-radius: 0px 10px 0px 10px;
}

.btn-lengko-default {
  color: #f6f6f6;
  background-color: #34495e;
}

.btn-lengko-default:hover,
.btn-lengko-default:active,
.btn-lengko-default:focus {
  background-color: #445667;
}

.btn-lengko-danger {
  color: #f6f6f6;
  background-color: #c0392b;
}

.btn-lengko-danger:hover,
.btn-lengko-danger:active,
.btn-lengko-danger:focus {
  background-color: #e74c3c;
}

.btn-lengko-warning {
  color: #f6f6f6;
  background-color: #f39c12;
}

.btn-lengko-warning:hover,
.btn-lengko-warning:active,
.btn-lengko-warning:focus {
  background-color: #f1c40f;
}

.btn-lengko-success {
  color: #f6f6f6;
  background-color: #27ae60;
}

.btn-lengko-success:hover,
.btn-lengko-success:active,
.btn-lengko-success:focus {
  background-color: #2ecc71;
}

.container-file-lengko {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.container-file-lengko input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.block {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 130px;
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: .5s ease;
  opacity: 0.3;
}

.overlay:hover {
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 1;
}

fieldset.title {
  border-top: 1px solid #aaa;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;
  padding: 5px 10vw;
}

fieldset.title legend {
  padding: 5px 12px;
  margin: 0px;
  font-size: 12pt;
  border: none;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-md {
  height: 200px;
}

.scrollable-lg {
  height: 400px;
}

.scrollable-xl {
  height: 600px;
}

::-moz-selection {
  color: #f6f6f6;
  background-color: #34495e;
}

::selection {
  color: #f6f6f6;
  background-color: #34495e;
}

/* end of custom scrollbar */

/* Main Menu */

.main-menu {
  padding: 20px;
  margin: 7px 5px 7px 5px;
  min-height: 200px;
  box-shadow: 5px 5px 5px #595959;
  border-radius: 50px/15px;
  cursor: pointer;
}

.menu-red {
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  color: #ffffff;
}

.menu-red:hover,
.menu-red:active,
.menu-red:focus {
  background-color: #e6594b;
  border: 1px solid #e6594b;
}

.menu-orange {
  background-color: #e67e22;
  border: 1px solid #d35400;
  color: #ffffff;
}

.menu-orange:hover,
.menu-orange:active,
.menu-orange:focus {
  background-color: #e78936;
  border: 1px solid #e78936;
}

.menu-green {
  background-color: #1abc9c;
  border: 1px solid #16a085;
  color: #ffffff;
}

.menu-green:hover,
.menu-green:active,
.menu-green:focus {
  background-color: #2cc8a9;
  border: 1px solid #2cc8a9;
}

.menu-blue {
  background-color: #3498db;
  border: 1px solid #2980b9;
  color: #ffffff;
}

.menu-blue:hover,
.menu-blue:active,
.menu-blue:focus {
  background-color: #4ca5e2;
  border: 1px solid #4ca5e2;
}

.menu-purple {
  background-color: #9b59b6;
  border: 1px solid #8e44ad;
  color: #ffffff;
}

.menu-purple:hover,
.menu-purple:active,
.menu-purple:focus {
  background-color: #a760c4;
  border: 1px solid #a760c4;
}

.menu-black {
  background-color: #393939;
  border: 1px solid #171717;
  color: #ffffff;
}

.menu-black:hover,
.menu-black:active,
.menu-black:focus {
  background-color: #343030;
  border: 1px solid #343030;
}

.menu-title {
  margin: 5px 0px 5px 0px;
}

.menu-title > a {
  text-decoration: none;
  font-size: 14pt;
  color: #f6f6f6;
}

.menu-title > a:hover {
  border-bottom: 2px solid #f6f6f6;
}

.menu-description {
  text-align: left;
}

.menu-description > a {
  color: #f6f6f6;
}

/* End of Main Menu */

/* Shopping cart */

#shopping-cart {
  position: fixed;
  bottom: -2px;
  right: -2px;
  background-color: #f39c12;
  border: 2px solid #000000;
  color: #f6f6f6;
  width: 400px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px 0px 0px 0px;
}

/* End of Shopping cart */

/* Custom device */
.device {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
}

.device-title {

}

.device > span {
  font-size: 10pt;
  color: #ffffff;
}

.device-available {
  background-color: #27ae60;
  color: #ffffff;
}

.device-unavailable {
  background-color: #e74c3c;
  color: #ffffff;
}

.device-disabled {
  background-color: #7f8c8d;
  color: #ffffff;
}
/* End of Custom device */

/* Custom slick button */
.slick-next:before,
.slick-prev:before {
  color: #34495e;
}
/* End of customizer slick button */

/* Custom panel */
.panel-custom {

}

.panel-custom > .panel-heading {
  background-color: #34495e;
  color: #f5f5f5;
}
/* end of Custom panel */

/* Custom swal */
.swal-text {
  text-align: center;
}

.swal-button {
  border-radius: 2px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button--confirm,
.swal-button--confirm:focus,
.swal-button--confirm:active,
.swal-button--confirm:hover{
  background-color: #2c3e50;
  border: 1px solid #34495e;
  color: #ecf0f1;
  right: 0px;
  left: 0px;
}

.swal-button--cancel,
.swal-button--cancel:focus,
.swal-button--cancel:active,
.swal-button--cancel:hover{
  background-color: #ecf0f1;
  border: 1px solid #323334;
  color: #323334;
  right: 0px;
  left: 0px;
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}

.swal-overlay {
  background-color: rgba(17, 17, 17, 0.90);
}
/* end of custom swal */

/* form row column */
form > .row {
  margin: 5px 0px 5px 0px;
}
/* end of form row column */

/* */
.border-btm {
  border-bottom: 2px solid #242624;
  padding: 0px 0px 5px 0px;
}

/* */

/*
  https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
*/

.row{
  overflow: hidden;
}

[class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

/*
  https://www.w3schools.com/howto/howto_css_modals.asp
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  bottom: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: relative;
  bottom: 0px;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s

}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fefefe;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #2c3e50;
  color: #fefefe;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #2c3e50;
  color: #fefefe;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
